* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8B1E3F;
}

.logo {
    font-size: 3rem;
    color: #F0C987;
}

.main {
    padding: 10px 0;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div3 {
    background-color: #8B1E3F;
    background-color: #5EFC8D;
}

.circle1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #93BEDF;
}

.circle2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #8377D1;
}

.circle3 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #6D5A72;
}

footer {
    height: 100px;
    color: #F0C987;
    background: #8B1E3F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}