* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 100px;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    background: rgb(60,21,59);
    background: linear-gradient(90deg, rgba(60,21,59,1) 0%, rgba(219,76,64,1) 50%); 
}

.logo {
    font-family: 'Marck Script', cursive;
    font-size: 3rem;
    color: #F0C987;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 600px;
}

a {
    font-size: 1rem;
    font-weight: 500;
    font-family: monospace;
    text-decoration: none;
    color: #3C153B;
}

.main {
    display: grid;
    padding: 10px 0;
    height: calc(100vh - 200px);
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

p {
    color:#000;
}

.div1 {
    background-color: #8B1E3F;
    grid-area: 1 / 1 / 7 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    background-color: #5EFC8D;
    grid-area: 1 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 {
    background-color: #8EF9F3;
    grid-area: 4 / 2 / 7 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div4 {
    background-color: #93BEDF;
    grid-area: 1 / 3 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div5 {
    background-color: #8377D1;
    grid-area: 3 / 3 / 5 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div6 {
    background-color: #6D5A72;
    grid-area: 5 / 3 / 7 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 100px;
    color: #F0C987;
    background: rgb(60,21,59);
    background: radial-gradient(circle, rgba(60,21,59,1) 0%, rgba(219,76,64,1) 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Marck Script', cursive;
    font-size: 2rem;
}